## Create a labelisation

```http
POST /labelisations HTTP/1.1
```

```json
{
  "labelisation": {
    "labelisation_type": "candidate",
    "judgement": "pending",
    "junior_id": 0,
    "application_form": "",
  }
}
```

```http
HTTP/1.1 201 Created
```

<%= partial 'includes/resources/labelisations/labelisation' %>

<aside class="notice">
  `labelisation_type` depends on the previous labelisation.
  It works as follow:
  <ul>
    <li>previous labelisation_type = <code>candidate</code>, you'll have to create a <code>junior_creation</code></li>
    <li>previous labelisation_type = <code>junior_creation</code>, you'll have to create a <code>pepiniere_junior_entreprise</code></li>
    <li>previous labelisation_type = <code>pepiniere_junior_entreprise</code>, you'll have to create a `junior_entreprise</code></li>
  </ul>
</aside>

### Attributes

                                                                | Description
--------------------------------------------------------------- | -----------
labelisation_type                                               | Values are `candidate` / `junior_creation` / `pepiniere_junior_entreprise` / `junior_entreprise` / `radiation`
judgement                                                       | Values are `pending` / `accepted` / `refused`
application_form                                                | A file to upload. The file should follow the specifications of RFC 2388 (which defines file transfers for the multipart/form-data protocol).
